
body{
    margin-top:50px; 
    padding:50; 
    font-size:15px; 
    font-family:Georgia, "Times New Roman", Times, serif; 
    color:#065a85; 

    background: 
        url(background.png); 
        background-repeat: no-repeat;
        background-color: #cae8f7;
        background-position: center;
        background-size: cover;
}


#headergabriela {
    padding:20px 20px 20px 200px;
    float: middle;
    margin: 0px 20px 20px 20px;
}

h1 {
    font-size:100px;
    font-weight: normal;
    font-style:normal; 
    text-transform:none;
    float: middle;
}

nav{
    display:block; float:right; 
    padding:0px 20; 
    color:#cae8f7; 
    background-color:#f3f2f2;}

nav ul{
    padding:30px;
}
nav li{
    display:inline; 
    margin-right:25px; 
    text-transform:uppercase;
}
 nav li.last{
     margin-right:0;
    }
nav li a{
    color:#040505; 
    background-color:#fffdfd;}
    
 nav li a:hover{
     color:#3a74c0; 
     background-color:#9ea3aa;}

#wrapperbox {
    margin-left: 50;
}

